/*bar*/

#noobermin {
  font-size: 15vw;
}
#topnav a{
  font-size: 5vw;
}

#sidenav {
  top: 9.66em;
	left: 0px;
	width: 25%;

}
.img-sq{
   width: 70%; 
	 height: 70%;
}
#content.shown {
  left: 22%;
  width: 55%;
  left: 17%;
}

#content .content-x{
  display: none;
}