body {
	background: rgb(40,140,180);
	color: rgb(230,230,230);
	font-family:'Arimo',sans-serif;
	margin: 0;
}
#noobermin {
	text-align: center;
	cursor:pointer;
	width: 100%;
	z-index: 10;
}
@media (min-width: 500px) {
	#noobermin { font-size: 15vw; }
}
@media (max-width: 500px) {
	#noobermin { font-size: 4.0em; }
}

hr{
	width: 90%;
	border: 0;
	height: 0.4em;
	margin: 1em auto;
  background: rgb(230,230,230);
	transform: scaleX(1.0);
	transition: all 0.6s ease-out;
	-webkit-transform: scaleX(1.0);
	-webkit-transition: all 0.6s ease-out;
}
.hidden {
	-webkit-transform: scaleX(0);
	-webkit-transition: all 0.6s ease-out;
	transform: scaleX(0);
	transition: all 0.6s ease-out;
}
/*
 * #nav
 */
div.centered{
  display: block;
	margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
	text-align: center;
}
#topnav{
	text-align: center;
}
#topnav a{
	display: inline-block;
	margin: 0 0.2em;
	-webkit-transition: 0.13s ease-in;
	transition: 0.13s ease-in;
}
#topnav a:hover{
  /*color: rgb(10,110,150);*/
	color: white;
	text-shadow: 0px 0.1em 1.0em #444;
	-webkit-transition: 0.13s ease-in;
	transition: 0.13s ease-in;
}

@media (min-width: 500px){
	#topnav a{ font-size: 5vw;}
	#top.minimized a{
		color: rgb(220,220,220);
		font-size: 2.5vw;
	}
} @media (max-width: 500px) {
	#topnav a{ font-size: 2.0em;}
	#topnav a.minimized{font-size: 1em;}
}

#topnav #top{
	display: none;
}
#topnav #top.shown{
	display: block;
	animation: fade-down 0.3s ease-in;
	-webkit-animation: fade-down 0.3s ease-in;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}
#topnav #top.minimized{
	display: block;
}
#topnav div#me{
	display: none;
}
#topnav div#me.shown{
	display: block;
	animation: fade-down 0.3s ease-in;
	-webkit-animation: fade-down 0.3s ease-in;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}


a {
	color: rgb(230,230,230);
	position: relative;
	cursor: pointer;
	text-decoration: none;
}
a:hover{
	color: white;
}

#content a[href]:not([href^="#"]):not([href=""]):hover:before{
  content: "➲ " attr(href);
	font-size: medium;
	position: absolute;
	color: blanchedalmond;
	background: rgba(100,100,100,0.8);
	text-shadow: 0px 0.6em 1em #222;
	white-space: nowrap;
	padding: 5px;
	border-radius: 5px;
  z-index: 20;
}
#topnav a[href]:hover:before{
	color: white;
  top: 2em;
	left: -6.8em;
}
#content a[href]:hover:before{
	top: 1.1em;
}

/*
 * body
 */

.transitout{
	animation-name: fade-down;
	-webkit-animation-name: fade-down;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-timing-function: ease-in;
	-webkit-animation-timing-function: ease-in;
	animation-duration: 0.3s;
	-webkit-animation-duration: 0.3s;
	animation-direction: reverse;
	-webkit-animation-direction: reverse;
}
.newlink{
	animation: fade-down 0.3s ease-in;
	-webkit-animation: fade-down 0.3s ease-in;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
}

@keyframes fade-down{
	0%{
		transform: translateY(-1em);
		opacity: 0.0;
	}
	100% {
		transform: translateY(0);
		opacity: 1.0;
	}
}
@-webkit-keyframes fade-down{
	0%{
		-webkit-transform: translateY(-1em);
		opacity: 0.0;
	}
	100% {
		-webkit-transform: translateY(0em);
		opacity: 1.0;
	}
}

/*
 * sidenav
 */
#sidenav, #sidenav a{
	color: rgb(00,30,50);
}
#sidenav li{
	list-style-type: none;
}
#sidenav ul{
	padding: 0;
}
li:before{
	content:"";
}

.wordstag{
	margin: 0;
	font-size: xx-small;
}
#sidenav li time {
	display: block;
	/*text-align: center;*/
	font-size: xx-small;
	margin: 0;
	padding: 0;
}
#sidenav li time:before{
	content: "✎ "
}
#sidenav li{
	margin-bottom: 0.3em;
}


#sidenav div{
	display: none;
	background: transparent;
}

#sidenav div.shown{
	display: block;
	font-size: 1.2em;
	/*animation: fade-down 0.47s ease-out;*
	/-webkit-animation: fade-down 0.47s ease-out;*/
}
#sidenav h2{
	display: none;
	/*text-align: center;
	font-size: 3.5vw;
	margin-bottom: 0;
	margin-top: 0.2em;*/
}


#sidenav.shown a{
	cursor: pointer;
}
/*
 * #content
 */
#main{
  overflow: hidden;
	max-height: 0;
	width: 100vw;
	display: flex;
	justify-content: center;
  transition: max-height 2.5s ease-out;
}
#main.shown{
  max-height: 1000vh;
	box-shadow: inset 1px 2px  2px rgb(45,45,45);
	transition: max-height 2.5s ease-out;
	background: rgb(240,240,240);
}
#content {
	display: none;
}

#content.shown {
	display: inline;
	width: 50%;
	z-index: 10;
	position: relative;
	color: #111;
	padding: 1% 5%;
	/*animation: move-corner 0.5s ease-out;
	-webkit-animation: move-corner 0.5s ease-out;*/
	animation: fade-down 0.3s ease-in;
	-webkit-animation: fade-down 0.3s ease-in;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	font-family: "Average";
	font-size: 1.2em;
	text-align: justify;
}
@media (min-width:500px){
	/*#content.shown {
    left: 22%;
    width: 55%;
    left: 17%;
  }*/
}
@media (max-width:500px){
	#content.shown {
    left: 1%;
    width: 88%;
 }
}

#content p:last-of-type:after{
	content:" ☐";
	color: rgb(0,160,200);
	text-shadow: 0px 1px 1px #ccc;
}
#content.shown h1{
	text-align: center;
	color: rgb(0,160,200);
	text-shadow: 0px 1.5px 2px #bbb;
	margin-top: 1em;
	margin-bottom: 0.1em;
}
#content.shown header{
	color: rgb(0,150,180);
}
#content.shown header time{
	display: block;
	text-align: center;
	font-size: x-small;
}
#content.shown header time:before{
	content: "✎ "
}

#content.shown header span:before{
	content: " 🙚 ";
}
#content.shown header{
	margin-bottom: 1em;
text-align: center;

}

#content.shown h2{
	color: rgb(0,160,200);
	text-shadow: 0px 1px 1px #ccc;
	font-family: "Georgia";
	text-align: center;
	font-weight: normal;
	font-size: 2em;
}

#content.shown a{
	color: rgb(0,160,200);
}

#content blockquote.oneline{
	text-align: center;
	text-shadow: 0px 1px 1px #ccc;
	font-size: 1.5em;
	color: #bb1;
}
#content blockquote:not([class]){
	text-align: justify;
	font-size: 1em;
  color: #121;
	background: rgb(190,230,245);
	margin: auto 0em;
	padding: 1em 1.5em;
	border-radius: 5px 5px 5px 5px;
}



#content div#springnotes{
}
#content ul{
	display: table;
	margin: 0 auto;
	padding: 0;
}

#content ul li{
	margin-bottom: 1.4em;
}

#content li:before{
		content: "◉ ";
		color: rgb(255,100,100);
}



@keyframes move-right{
	0%{
		transform-origin: 0px;
		transform: translateX(-1000px);
	}
	100% {
		transform-origin: 0px;
		transform: translateX(0);
	}
}

@keyframes erase-right{
	0%{
		transform-origin: 0px;
		transform: scaleX(1.0);
	}
	100% {
		transform-origin: 0px;
		transform: scaleX(0.0);
	}
}

@keyframes move-corner{
	0%{
		transform-origin: 0px;
		transform: translateX(-200%) translateY(-100%);
	}
	100% {
		transform-origin: 0px;
		transform: translateX(0px) translateY(0px);
	}
}
@-webkit-keyframes move-right{
	0%{
		-webkit-transform-origin: 0px;
		-webkit-transform: translateX(-1000px);
	}
	100% {
		-webkit-transform-origin: 0px;
		-webkit-transform: translateX(0);
	}
}

@-webkit-keyframes erase-right{
	0%{
		-webkit-transform-origin: 0px;
		-webkit-transform: scaleX(1.0);
	}
	100% {
		-webkit-transform-origin: 0px;
		-webkit-transform: scaleX(0.0);
	}
}

@-webkit-keyframes move-corner{
	0%{
		-webkit-transform-origin: 0px;
		-webkit-transform: translateX(-200%) translateY(-100%);
	}
	100% {
		-webkit-transform-origin: 0px;
		-webkit-transform: translateX(0px) translateY(0px);
	}
}

/*code stuff*/
pre{
	background: rgb(190,230,245);
	padding: 1em 1.5em;
	color: rgb(50,70,100);
	border-radius: 5px 5px 5px 5px;
}
/*image stuff*/
.img-sq {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
@media (min-width: 500px) {
	.img-sq{
    width: 70%; 
	  height: 70%;
  }
}
@media (max-width: 500px) {	
  .img-sq{
	  width: 250px; 
	  height: 250px;
  }
}

figure {
	margin-left: auto;
	margin-right: auto;
	background: rgba(100,100,100,0.1);
	padding-top: 10px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 4px;
	width: 90%;
	box-shadow: 1px 1px #ccc;
}
figcaption{
	text-align: center;
	font-family: Sans;
	color: rgb(0,110,160)
}
@media (max-width: 500px){
	#content .content-x{
    position: absolute;
	  font-weight: bold;
	  text-shadow: 1px 1px 3px #444;
	  border-radius: 1em;
	  z-index: 20;
    display: block;
    color: #233;
	  font-size: 4em;
	  top: -0.2%;
	  right: -3%;
	  cursor: pointer;
	  font-family: Veranda;
  }
}
@media (min-width: 500px) {
	#content .content-x{display: none;}
}